<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
    <div class="ui container">
        <a href="#" class="active item" id="home-button">Home</a>
        <a class="item">About</a>
    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <a href="#" class="active item" id="home-button">Home</a>
    <a class="item">About</a>
</div>

<!-- Page Contents -->
<div class="pusher">

    <!-- Black segment at the top of the page...... -->
    <div class="ui inverted vertical masthead center aligned basic segment" style="background-image: url('/images/bg1.jpg'); background-size: cover; background-position: center center;">

        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a href="#" class="active item" id="home-button">Home</a>
                <a class="item">About</a>
            </div>
        </div>

        <div class="ui grid container">

            <div class="row" align="center">
                <div class="sixteen wide column">
                    <div class="ui mobile only centered mobile leaderboard test ad" data-text="Mobile Banner" id="mobileOnlyBannerAd"></div>
                </div>
            </div>

            <div class="mobile hidden row" align="center">
                <div class="one wide column"></div>
                <div class="fourteen wide column">
                    <div class="ui leaderboard test ad" data-text="Leaderboard"></div>
                </div>
                <div class="one wide column"></div>
            </div>

            <div class="row">
                <div class="one wide left column"></div>
                <div class="fourteen wide column">
                    <div class="ui center aligned stackable container">
                        <h1 class="ui inverted header">
                            IFSC Finder 
                        </h1>
                        <h2>Find Bank IFSC in 3 easy steps</h2>
                        <div class="row"><br><br><br></div>

                        <!-- ==================== -->
                        <!--      Search Bar Div   -->
                        <!-- ==================== -->
                        <div class="ui large fluid search" id="findBankSearchField"> 
                            <div class="ui icon input">
                                <input class="prompt" type="text" placeholder="Enter Bank Location ">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>

                        <div class="row"><br><br><br></div>
                        <a href="/" class="ui center aligned mini negative button" id="reset-button">Reset</a>
                    </div>
                </div>
                <div class="one wide right column"></div>
            </div>
        </div>
    </div>

    <div class="ui mobile hidden vertical stripe  segment">
        <div class="ui centered large rectangle test ad" data-text="Large Rectangle"></div>
    </div>

    <div class="ui raised segments" id="findLocationSegment">
        <div class="ui vertical stripeShort segment">
            <div class="ui grid container">
                <div class="row">
                    <div class="one wide left column"></div>
                    <div class="fourteen wide center aligned column">
                        <div class="ui stripe segment">
                            <h1>ICICI Bank Limited </h1>
                            <h1></h1>
                            <p>Search For you bank Location</p>
                        </div>
                        <div class="ui huge fluid search" id="findLocationSearchField">
                            <div class="ui icon input">
                                <input class="prompt" type="text" placeholder="Enter Bank Location ">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>
                    <div class="one wide right column"></div>
                </div>
            </div>
        </div>



        <!-- Find Branch Segement -->

        <div class="ui white vertical stripe segment" id="findBranchSegment">
            <div class="ui grid container">
                <div class="row">
                    <div class="one wide left column"></div>
                    <div class="fourteen wide center aligned column">
                        <div class="ui stripe segment">
                            <h1>ICICI Bank Limited </h1>
                            <h2>Bangalore</h2>
                            <p>Search For you bank branch</p>
                        </div>
                        <div class="ui huge fluid search" id="findBranchSearchField">
                            <div class="ui icon input">
                                <input class="prompt" type="text" placeholder="Enter Bank Branch">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>
                    <div class="one wide right column"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical raised adStripe segment">
        <div class="ui mobile hidden centered large rectangle test ad" data-text="Large Rectangle"></div>
    </div>

    <div class="ui blue hidden inverted vertical stripe segment" id="showResultSegment">
        <div class="ui grid container">
            <div class="row">
                <div class="one wide left column"></div>
                <div class="fourteen wide center aligned column">
                    <div class="ui stripe segment">
                        <h2>ICICI Bank Limited </h2>
                        <p>Bangalore Branch</p>
                        <h1>IFSC : ABC000090909</h1>
                        <h4>Address</h4>
                        <p>38/10 St Johns Road, Sivan Chetty Garden P.O.</p>
                        <p>Bangalore - 560042</p>
                    </div>
                    <div class="one wide right column"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="seven wide column">
                <h4 class="ui inverted header">Legal Disclaimer</h4>
                <p>www.ifsc.today has made every attempt to ensure the accuracy of the information provided on this website. Bank Details and IFS code has been fetched from the Reserve Bank of India's website. This organization (www.ifsc.today) does not accept any responsibility or liability for the accuracy, content, completeness, legality, or reliability of the information contained on this website.</p>

                <p><b>Data last updated :</b> 23-October-2018</p>
            </div>
        </div>
    </div>
</div>



</div>
