<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
    <div class="ui container">
        <a href="#" class="active item" id="home-button">Home</a>
    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <a href="#" class="active item" id="home-button">Home</a>
</div>

<!-- Page Contents -->
<div class="pusher">

    <!-- Black segment at the top of the page...... -->
    <div class="ui masthead center aligned basic segment" style="background-color: #fbbc09e6; background-image: linear-gradient(315deg, #FBBC09;0%, #FACC43 74%); background-size: cover; background-position: center center;">

        <div class="ui container">
            <div class="ui large secondary inverted pointing menu" style="border-width: 0px;">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a href="#" class="active item" id="home-button">Home</a>
            </div>
        </div>

        <!-- 
        <div class="ui mobile only centered mobile leaderboard test ad" data-text="Mobile Banner" id="mobileOnlyBannerAd"></div> 
        -->
        
        <div class="ui grid container">

            <div class="mobile hidden row" align="center">
                <div class="one wide column"></div>
                <div class="fourteen wide column">
       
                    <script type="text/javascript" language="javascript">
                        var aax_size='728x90';
                        var aax_pubname = 'chapparfellow-21';
                        var aax_src='302';
                    </script>
                    <script type="text/javascript" language="javascript" src="http://c.amazon-adsystem.com/aax2/assoc.js"></script>
       
                </div>
                <div class="one wide column"></div>
            </div>

            <div class="row" style="padding-top: 3rem;">
                <div class="one wide left column"></div>
                <div class="fourteen wide column">
                    <div class="ui center aligned stackable container">
                        <h1 class="ui header large" style="font-size: 5em">
                            IFSC Finder 
                        </h1>
                        <h3>Find Bank IFSC in 3 easy steps</h2>
                        <div class="row"><br><br><br></div>

                        <!-- ==================== -->
                        <!--      Search Bar Div   -->
                        <!-- ==================== -->
                        <div class="ui large fluid search" id="findBankSearchField"> 
                            <div class="ui icon input">
                                <input class="prompt" type="text" placeholder="Search Bank Name" style="text-align: center;">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>

                        <div class="row"><br><br><br></div>
                        <a href="/" class="ui center aligned mini negative button" id="reset-button">Reset</a>
                    </div>
                </div>
                <div class="one wide right column"></div>
            </div>
        </div>
    </div>




    <!-- Info Div -->

    <div class="ui grid container" id="infoDivInitial">
        <div class="row">

            <div class="ui inverted one wide left column"> </div>

            <div class="ui fourteen wide column">
                <div class="ui vertical stripe segment" id="infoDivSearchBank" style="display:block">
                    <div class="ui vertical stripe segment">
                        <div class="ui two column stackable center aligned grid">
                            <div class="middle aligned row">
                                <div class="ui seven wide column">
                                    <h2 style="color: darkgray">Popular Banks</h2>
                                    <div class="ui list">
                                        <div class="item">State Bank of India (SBI)</div>
                                        <div class="item">Canara Bank</div>
                                        <div class="item">ICICI Bank</div>
                                        <div class="item">HDFC Bank</div>
                                    </div>
                                </div>
                                <div class="ui vertical divider"></div>
                                <div class="ui seven wide column ">
                                    <h2 style="color: darkgray">Banks in India</h2>
                                    <div class="ui statistic">
                                        <div class="value">
                                          1.5 Lakh
                                        </div>
                                        <div class="label">
                                           Bank Branches Found 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="ui inverted one wide right column"> </div>
        </div>
       
        <div class="ui divider"> </div>

        <div class="row">
            <div class="ui one wide left column"> </div>
            <div class="ui fourteen wide column">
                <div class="ui center aligned text container">
                    <h2 style="color: darkgray">
                        What is IFSC? 
                    </h2>
   
                    <p>
                    The Indian Financial System Code (IFS Code or IFSC) is an alphanumeric code that facilitates electronic funds transfer in India.
                    </p>
                    <p>IFSC uniquely identifies each bank branch participating in the two main Payment and settlement systems in India: <i><b>Real Time Gross Settlement (RTGS) </i></b> and <i>National Electronic Fund Transfer (NEFT)</i>.
                    </p> 
                </div>
            </div>
            <div class="ui one wide right column"> </div>
        </div>
    
        <div class="ui divider"> </div>
    </div>







    
    <!-- AD Block Begin-->
    <!-- 
    <div class="ui mobile hidden vertical stripe  segment">
        <div class="ui centered large rectangle test ad" data-text="Large Rectangle"></div>
    </div>
    --> 
    <!-- div class="ui mobile only centered mobile leaderboard test ad" data-text="Mobile Banner" id="mobileOnlyBannerAd"></div> -->
    <!-- AD Block End-->

    <div class="ui segments" id="findLocationFindBranchGroupSeg" style="display:none">
        <!-- Find Location Segment -->
        <div class="ui vertical stripeShort segment" id="findLocationSegment" style="display:none">
        </div>

    <div class="ui grid container" id="infoDivShowingLocationSearch" style="display:none">
        </div>
        
        <!-- Find Branch Segment -->
        <div class="ui white vertical stripe segment" id="findBranchSegment" style="display:none">
        </div>

    
    <div class="ui grid container" id="infoDivShowingBranchSearch" style="display:none">
        </div>
    </div>

    <div class="ui hidden vertical stripe segment" id="showResultSegment" style="display:none; background-color:#374252">
    </div>
</div>

<div class="ui inverted vertical footer segment" style="background-color:#374353">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="seven wide column">
                <h4 class="ui inverted header">Legal Disclaimer</h4>
                <p>www.ifsc.today has made every attempt to ensure the accuracy of the information provided on this website. Bank Details and IFS code has been fetched from the Reserve Bank of India's website. This organization (www.ifsc.today) does not accept any responsibility or liability for the accuracy, content, completeness, legality, or reliability of the information contained on this website.</p>

                <p><b>Data last updated :</b> 23-October-2018</p>
            </div>
        </div>
    </div>
</div>



</div>
