<!DOCTYPE html>
<html>
    <head>
         <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-5666511173297473",
                enable_page_level_ads: true
            });
        </script>
        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127410136-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-127410136-1');
        </script>

        <!--Bing Webmaster Thing -->
        <meta name="msvalidate.01" content="4668BE2493E0B673A2648478304FC472" />


        <!-- Site Properties -->
        <title>Bank IFSC Code, SBI, PNB, ICICI, all banks in India</title>
<meta name="Description" content="Search IFSC code, MICR code and address of State Bank Of India sbi ifsc code, ICICI Bank ifsc code, IDBI Bank ifsc code, Punjab National Bank pnb ifsc code.">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.min.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.0/mustache.min.js"></script>
        <script type="text/javascript" src="javascripts/script.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.min.css">

    </head>
    <body>
        {{{body}}}
    </body>
</html>
