<body>    
    <!-- Following Menu -->
<div class="ui large top fixed hidden menu">
    <div class="ui container">
        <a href="#" class="active item" id="home-button">Home</a>
    </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <a href="#" class="active item" id="home-button">IFSC Search</a>
</div>

<!-- Page Contents -->
<div class="pusher">

    <!-- Black segment at the top of the page...... -->
    <div class="ui masthead center aligned basic segment" style="background-color: #fbbc09e6; background-image: linear-gradient(315deg, #FBBC09;0%, #FACC43 74%); background-size: cover; background-position: center center;min-height : 300px">

        <div class="ui container">
            <div class="ui large secondary inverted pointing menu" style="border-width: 0px;">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a href="/" class="active item" id="home-button">IFSC Search</a>
            </div>
        </div>

        <!-- 
        <div class="ui mobile only centered mobile leaderboard test ad" data-text="Mobile Banner" id="mobileOnlyBannerAd"></div> 
        -->
        
        <div class="ui grid container">

            <div class="mobile hidden row" align="center">
                <div class="one wide column"></div>
                <div class="fourteen wide column">
                </div>
                <div class="one wide column"></div>
            </div>

            <div class="row" style="padding-top: 1rem;">
                <div class="one wide left column"></div>
                <div class="fourteen wide column">
                    <div class="ui center aligned stackable container">
                        <h1 class="ui header large" style="font-size: 3em">
                            RTGS Holidays 2019
                        </h1>
                    </div>
                </div>
                <div class="one wide right column"></div>
            </div>
        </div>
    </div>
    
    
    
    <!--
<div class="row">
    <div class="ui huge center aligned header">RTGS Holidays – 2019</div>
</div>
    -->
<div class="ui vertical stripeShort segment">
    <div class="ui grid container">
      <div class="row">
        <div class="one wide left column"></div>
        <div class="fourteen wide center aligned column">
<table class="ui unstackable table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Day</th>
      <th>Ocassion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>April 01, 2019</td>
      <td>Monday</td>
      <td>Annual closing of Banks</td>
    </tr>    
          <tr>
      <td>April 19, 2019</td>
      <td>Friday</td>
      <td>Good Friday</td>
    </tr>    
    <tr>
      <td>June 05, 2019</td>
      <td>Wednesday</td>
      <td>Ramzan Id (Id-Ul-Fitr)</td>
    </tr>
          <tr>
      <td>August 12, 2019</td>
      <td>Monday</td>
      <td>Bakri Id (ld-UI-Zuha)</td>
    </tr>    
    <tr>
      <td>August 15, 2019</td>
      <td>Thursday</td>
      <td>Independence Day</td>
    </tr>    
    <tr>
      <td>September 10, 2019</td>
      <td>Tuesday</td>
      <td>Muharram</td>
    </tr>    
    <tr>
      <td>October 2, 2019</td>
      <td>Wednesday</td>
      <td>Mahatma Gandhi Jayanti</td>
    </tr>    
    <tr>
      <td>October 08, 2019</td>
      <td>Tuesday</td>
      <td>Dussehra / Vijaya Dasami</td>
    </tr>    
    <tr>
      <td>December 25, 2019</td>
      <td>Wednesday</td>
      <td>Christmas</td>
    </tr>    
    </tbody>
</table>
            </div>
        <div class="one wide right column"></div>
      </div>
    </div>
  </div>
  </div>

 <div class="ui inverted vertical footer segment" style="background-color:#374353">
     <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="seven wide column">
          <h4 class="ui inverted header">Legal Disclaimer</h4>
          <p>www.ifsc.today has made every attempt to ensure the accuracy of the information provided on this website. Bank Details and IFS code has been fetched from the Reserve Bank of India's website. This organization (www.ifsc.today) does not accept any responsibility or liability for the accuracy, content, completeness, legality, or reliability of the information contained on this website.</p>
          
          <p><b>Data last updated :</b> 23-October-2018</p>
                      <p><b>Data Source :</b> <a href="https://rbi.org.in/Scripts/BS_ViewRTGS.aspx">RBI website</a></p>
        </div>
      </div>
    </div>
  </div>
</body>
