@import url('https://fonts.googleapis.com/css?family=Days+One&subset=latin');

body {
  font-family: Days One;
}

.ui.header {
  font-family: Days One;
    color: white;
}
.ui.search>.results .result .description{
    font-size: 0.6em;
}

h1, h2, h3, h4, h5, title {
  font-family: Days One;
}
.hidden.menu {
  display: none;
}
.masthead.segment {
    padding: 1em 0em;
    background-color: #fff293;
    background-image: linear-gradient(315deg, #fff293 0%, #ffe884 74%);
}

.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
  font-family: Days One;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.ui.segments{
border: 0 solid rgba(34,36,38,.15);
-webkit-box-shadow: 0 0 0 0 rgba(34,36,38,.15);*/
box-shadow: 0 0 0 0 rgba(34,36,38,.15); 
}

.ui.stripe.segment {
    padding: 0em;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    box-shadow: 0 0px 0px 0 rgba(34,36,38,0);
}

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  
  .ui.large.secondary.inverted.pointing.menu{
  border: none;
}


.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
    color : #374252;
}

.masthead h3 {
  font-size: 1.7em;
  font-weight: normal;
    color : #374252;
}

.ui.grid>.row{
    padding-top: 3rem;
    padding-bottom : 3rem;
}

ui.segment{
    border-top : 0px;
    border-bottom : 0px;
}


.ui.segments>.segment {
    border-top: 0px
}
.ui.vertical.segment {
    border-bottom: 0px
}

.ui.search .prompt {  
  background-color : clear;
  text-align : center;
}

.ui.vertical.stripeShort {
  padding: 1em 0em;
  border-bottom: 0px
  border-top: 0px
}

#amazon_ad{
  padding: 3.2em 0em;
}


.ui.vertical.adStripe.segment {
  padding: 1em 0em;
  background-color : #f7f8fa;
  border-bottom: 0px
}

.ui.vertical.stripe {
  padding: 1em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.results {
  font-size : 0.75em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 4em;
    margin-top: 1em;
    color : white;  
}

  .masthead h1 {
    margin-top: 0.5em;
    font-size: 1.5em;
    color : white;  
  }

.masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}
.ui.large.secondary.inverted.pointing.menu {
  border: none;
}

.ui.header.large {
font-size: 10em;
color : green;
}


/* Mobile */

@media only screen and (max-width: 767px) {
    [class*="mobile hidden"],
    [class*="tablet only"]:not(.mobile),
    [class*="computer only"]:not(.mobile),
    [class*="large monitor only"]:not(.mobile),
    [class*="widescreen monitor only"]:not(.mobile),
    [class*="or lower hidden"] {
        display: none !important;
    }
    .masthead h1.ui.header {
        margin-top: 0em;
    }
}


/* Tablet / iPad Portrait */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  [class*="mobile only"]:not(.tablet),
  [class*="tablet hidden"],
  [class*="computer only"]:not(.tablet),
  [class*="large monitor only"]:not(.tablet),
  [class*="widescreen monitor only"]:not(.tablet),
  [class*="or lower hidden"]:not(.mobile) {
    display: none !important;
  }
}


/* Computer / Desktop / iPad Landscape */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  [class*="mobile only"]:not(.computer),
  [class*="tablet only"]:not(.computer),
  [class*="computer hidden"],
  [class*="large monitor only"]:not(.computer),
  [class*="widescreen monitor only"]:not(.computer),
  [class*="or lower hidden"]:not(.tablet):not(.mobile) {
    display: none !important;
  }
}


/* Large Monitor */

@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  [class*="mobile only"]:not([class*="large monitor"]),
  [class*="tablet only"]:not([class*="large monitor"]),
  [class*="computer only"]:not([class*="large monitor"]),
  [class*="large monitor hidden"],
  [class*="widescreen monitor only"]:not([class*="large monitor"]),
  [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
    display: none !important;
  }
}


/* Widescreen Monitor */

@media only screen and (min-width: 1920px) {
  [class*="mobile only"]:not([class*="widescreen monitor"]),
  [class*="tablet only"]:not([class*="widescreen monitor"]),
  [class*="computer only"]:not([class*="widescreen monitor"]),
  [class*="large monitor only"]:not([class*="widescreen monitor"]),
  [class*="widescreen monitor hidden"],
  [class*="widescreen monitor or lower hidden"] {
    display: none !important;
  }
}
