<div class="ui massive fluid search icon selection dropdown" id="{{processStep}}">
    <input type="hidden" name="country">
    <i class="dropdown icon"></i>
    <input class="search" autocomplete="off" tabindex="0"><div class="default text">Enter Bank Name</div>
    <div class="menu" tabindex="-1">
        {{#each allBankNames}}
            <div class="item" data-value="" class="bankName"></i>{{this}}</div>
        {{/each}}
    </div>
</div>
