<!-- Info Div  This is shown when we find the user is entering the city -->
<div class="ui grid container" id="infoDivShowingLocationSearch">
    <div class="row">

        <div class="ui inverted one wide left column"> </div>

        <div class="ui fourteen wide column">
            <div class="ui vertical stripe segment" id="infoDivSearchBank" style="display:block">
                <div class="ui vertical stripe segment">
                    <div class="ui two column stackable center aligned grid">
                        <div class="middle aligned row">
                            <div class="ui six wide column">
                                <h2 style="color: darkgray">What is RTGS?</h2>
                                <p style="font-family:Lato;text-align:justify">RTGS stands for real time gross settlement, which means that it enables money to move from one bank to another on a real time and gross basis. In other words, real time implies the beneficiary bank receives the instructions for fund transfer immediately. Gross implies that it is not combined with any other transaction and settlements. Since the funds settlement takes place in the books of the Reserve Bank of India (RBI), note that RTGS payments are final and irrevocable.</p>
                            </div>
                            <div class="ui vertical divider"></div>
                            <div class="ui seven wide column ">
                                <h2 style="color: darkgray">{{bankName}}</h2>
                                <div class="ui statistic">
                                    <div class="value">
                                        {{locationCount}}
                                    </div>
                                    <div class="label">
                                        Locations in India
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="ui inverted one wide right column"> </div>
    </div>

</div>
