<!-- Info Div  This is shown when we find the user is entering the Branches -->
    <div class="ui grid container">
        <div class="row">

            <div class="ui inverted one wide left column"> </div>

            <div class="ui fourteen wide column">
                <div class="ui vertical stripe segment" id="infoDivSearchBank" style="display:block">
                    <div class="ui vertical stripe segment">
                        <div class="ui two column stackable center aligned grid">
                            <div class="middle aligned row">
                                <div class="ui seven wide column">
                                    <h2 style="color: darkgray">What is NEFT?</h2>
                                    <p>Lorem Ipsum</p>
                                </div>
                                <div class="ui vertical divider"></div>
                                <div class="ui seven wide column ">
                                    <h2 style="color: darkgray">{{bankName}}</h2>
                                    <div class="ui statistic">
                                        <div class="value">
                                            {{branchCount}}
                                        </div>
                                        <div class="label">
                                            Branches in {{locationName}} 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="ui inverted one wide right column"> </div>
        </div>
       
    </div>
