<!-- Info Div  This is shown when we find the user is entering the city -->
<div class="ui grid container" id="infoDivShowingLocationSearch">
    <div class="row">

        <div class="ui inverted one wide left column"> </div>

        <div class="ui fourteen wide column">
            <div class="ui vertical stripe segment" id="infoDivSearchBank" style="display:block">
                <div class="ui vertical stripe segment">
                    <div class="ui two column stackable center aligned grid">
                        <div class="middle aligned row">
                            <div class="ui seven wide column">
                                <h2 style="color: darkgray">What is RTGS?</h2>
                                <p>Lorem Ipsum</p>
                            </div>
                            <div class="ui vertical divider"></div>
                            <div class="ui seven wide column ">
                                <h2 style="color: darkgray">{{bankName}}</h2>
                                <div class="ui statistic">
                                    <div class="value">
                                        {{locationCount}}
                                    </div>
                                    <div class="label">
                                        Locations in India
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="ui inverted one wide right column"> </div>
    </div>

</div>
