<div class="ui small modal" id="modal-finalResult">
  <i class="close icon"></i>
    <div class="header" align="center">
        {{bankName}}
    </div>
    <br>
    <div class="row" align="center">
        <div class="center aligned column">
            <div class="ui raised card">
                <div class="content">
                    <p style="color:gray">IFSC</p>
                    <div class="header" style="color:blue" id="ifsc-code">{{ifscCode}}</div>
                </div>
                <div class="content">
                    <h4 class="ui sub header">{{branchName}}</h4>
                    <br> 
                    {{address}}
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row"> 
        <div class="center aligned column">
            <div class="actions">
                <div class="extra content" align="center">
                    <button class="ui center aligned wide blue button" id="button-copy-ifsc" data-clipboard-target="#ifsc-code">Copy IFSC</button>
                </div>
            </div>

            <br>
            <br>
        </div>
    </div>
</div>
