    <div class="center aligned column">
        <div class="ui {{ statisticCount }} statistics">
            {{#each statistic}}
                <div class="statistic">
                    <div class="value">
                        {{this.value}} 
                    </div>
                    <div class="label">
                        {{this.label}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
